{{define "posts"}}
{{if not .}}
    <div style="text-align:center;padding:64px;">
        {{template "svg-nopost"}}
        <p style="margin-top:20px"><small>No post yet. Check back later.</small></p>
    </div>
{{else}}
    {{if ne (index . 0).Cover "" }}
        <a
            href="/{{(index . 0).Username}}/{{(index . 0).ID}}"
            style="line-height:0;padding:0;border-top:1px solid #aaa;border-left:1px solid #aaa;border-bottom: 0;display:block;width:100%;box-sizing:border-box;"
        >
            <img src="{{(index . 0).Cover}}" alt="cover" width="100%">
        </a>
    {{end}}
    {{range .}}
    <div class="post">
        <div class="left" style="width:60px;top:3px;position:relative">
            <a style="border:0 !important;" href="/{{.Username}}">
                <img width="44p" style="border-radius:100px" src="{{.UserPic}}" alt="avatar">
            </a>
        </div>
        <div class="right" style="width:570px">
            <a class="post-title" href="/{{.Username}}/{{.ID}}">{{.Title}}</a>
            <br><br>
            <small>
                <span>
                    <a href="/{{.Username}}"><strong>{{.Author}}</strong></a> <span style="opacity:0.7">posted on {{date "Jan 02" .Created}}</span>
                </span>
                <span class="div">|</span>
                <span style="opacity:0.7">{{.ReadingTime}} min read</span>
                <span class="div">|</span>
                <span style="opacity:0.7">♥ {{.LikesCount}}</span>
                <span class="div">|</span>
                <span style="opacity:0.7">💬 0</span>
            </small>
        </div>
        <div class="clear"></div>
    </div>
    {{end}}
{{end}}
{{end}}
