{{define "posts"}}
{{if not .}}
    <div style="text-align:center;padding:64px;">
        <svg class="x" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="64px"viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
            <path d="M480,320v128H32V320h78.859l64.016,96h162.25l64-96H480 M384,32H128L0,288v192h512V288L384,32L384,32z M35.781,288l112-224
                h216.438l112,224H384l-64,96H192l-64.016-96H35.781L35.781,288z"/>
        <g>
        </svg>
        <p style="margin-top:20px"><small>User doesn't have a post yet. Check back later.</small></p>
    </div>
{{else}}
    {{if ne (index . 0).Cover "" }}
        <a href="/{{(index . 0).Username}}/{{(index . 0).ID}}" style="border:0;display:block;width:100%;height:320px;background:transparent url({{(index . 0).Cover}}) top center / cover no-repeat;"></a>
    {{end}}
    {{range .}}
    <div class="post">
        <div class="left" style="width:60px;top:3px;position:relative">
            <a style="border:0 !important;" href="/{{.Username}}">
                <img width="44p" style="border-radius:100px" src="{{.UserPic}}" alt="avatar">
            </a>
        </div>
        <div class="right" style="width:570px">
            <a class="post-title" href="/{{.Username}}/{{.ID}}">{{.Title}}</a>
            <br><br>
            <small style="opacity:0.6">
                <span style="">♥ {{.LikesCount}}<span class="div">|</span>💬 0</span><span class="div">|</span><span>{{.Author}} posted on {{date "Jan 02" .Created}}</span>
            </small>
        </div>
        <div class="clear"></div>
    </div>
    {{end}}
{{end}}
{{end}}
