<div class="user-card">
    <div>
        <img width="88" style="margin-right:32px;border-radius:100px;float:left" src="{{.Picture}}" alt="{{.Username}}">
        <p style="position:relative;top:12px;line-height:32px;">
            <strong>{{.Name}}</strong><br>
            <a href="/{{.Username}}">@{{.Username}}</a>
        </p>
    </div>
    <br class="clear" style="margin-bottom:32px">
    {{if .Bio}}
    <p style="text-align:center;margin:32px auto"><code style="opacity:0.8">{{.Bio}}</code></p>
    {{end}}
    {{if .Location}}
    <p>
       {{template "svg-location"}}
        <span style="position:relative;top:-4px;left:12px">{{.Location}}</span>
    </p>
    {{end}}
    {{if .Website}}
    <p style="margin-bottom:0">
        {{template "svg-website"}}
        <a style="position:relative;top:-4px;left:12px" href="{{.Website}}">{{.Website}}</a>
    </p>
    {{end}}
</div>
