{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:description" content="{{if .Description}}{{.Description}}{{else}}We are a community of bisdak developers, designers, tinkerers, and hackers{{end}}" />
    <meta property="og:image" content="/images/ss.png" />
    <link rel="icon" type="image/svg" href="/images/icon.png" />
    <style>
    {{template "main.css"}}
    {{template "style" .}}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js"></script>
    <script>
        document.addEventListener('turbolinks:load', () => {
            {{template "axios.js" .}}
            {{template "main.js" .}}
            {{template "script" .}}
        });
    </script>
</head>

<body>
    <div class="wrapper">
        {{if .Flash}}
        <div class="flash {{.Flash.Type}}">
            {{.Flash.Value}}
        </div>
        {{end}}
        <header>
            <div class="wrap">
                <div class="left">
                    <a class="logo" data-turbolinks="false" href="/">.bishack()</a>
                </div>
                <div class="right">
                    {{template "main-nav" .User}}
                </div>
            </div>
        </header>
        {{template "content" .}}
    </div>
</body>

</html>
{{end}}
