{{define "style"}}
{{end}}
{{define "script"}}
    const form = document.querySelector('form#login-form');
    form && form.addEventListener('submit', (e) => {
        const em = e.target.email;
        const pwd = e.target.password;
        const email = em.value.trim();
        const password = pwd.value.trim();

        // check for password
        em.style.borderColor = 'blue'; // reset color
        const pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (!email.match(pattern)) {
            em.style.borderColor = 'red';
            em.focus();
            e.preventDefault();
            return false;
        }

        // check for password
        pwd.style.borderColor = 'blue'; // reset color
        if (!password.match(/[0-9]/g) || !password.match(/[a-zA-Z]/g)) {
            pwd.style.borderColor = 'red';
            pwd.focus();
            e.preventDefault();
            return false;
        }
    });
{{end}}
{{define "content"}}
    <div class="center-flex-box">
        <div class="kahon card center">
            <h2>User Login</h2>
            <br>
            <br>
            <form id="login-form" action="/login" method="post">
                {{ .csrfField }}
                <p>
                    <input type="text" name="email" placeholder="Email address" />
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password" />
                </p>
                <br>
                <p>
                    <button type="submit" class="button primary full"><span>LOG IN</span></button>
                </p>
            </form>
        </div>
    </div>
{{end}}

