{{define "main-nav"}}
<nav class="main-nav">
    {{if .}}
        <div class="dropdown">
            <img class="circle" style="position:relative;top:3px;border:1px solid blue;" width="44px" src="{{.picture}}" alt="avatar">
            <ul>
                <li><a href="/profile">My Profile</a></li>
                <li><a data-turbolinks="false" href="/logout" data-turbolinks-action="replace">Log Out</a></li>
            </ul>
        </div>
    {{else}}
        <div>
            <a href="/signup">Sign Up</a>
            <span class="div">|</span>
            <a href="/login">Log In</a>
        </div>
    {{end}}
</nav>
{{end}}
