{{define "main-nav"}}
<nav class="main-nav" style="position:relative;top:12px">
    {{if .}}
        <div class="dropdown" style="position:relative;top:-6px;">
            <img class="circle" width="32px" src="{{.picture}}" alt="avatar">
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    {{else}}
        <div>
            <a href="/signup">Sign Up</a>
            <span class="div">|</span>
            <a href="/login">Log In</a>
        </div>
    {{end}}
</nav>
{{end}}
