{{define "style"}}
{{end}}
{{define "script"}}
    function enableTab(id) {
        let el;
        if (typeof id === 'string') {
            el = document.getElementById(id);
        } else {
            el = id;
        }
        el.onkeydown = function(e) {
            if (e.keyCode === 9) { // tab was pressed

                // get caret position/selection
                const val = this.value,
                    start = this.selectionStart,
                    end = this.selectionEnd;

                // set textarea value to: text before caret + tab + text after caret
                this.value = val.substring(0, start) + '\t' + val.substring(end);

                // put caret at right position again
                this.selectionStart = this.selectionEnd = start + 1;

                // prevent the focus lose
                return false;

            }
        };
    }

    form = document.querySelector('form#new-form');
    if (form) {
        enableTab(form.content)
        form.addEventListener('submit', (e) => {
            const { target } = e;
            const { title, content } = target;

            // reset
            title.style.borderBottomColor = 'blue';

            if (!title.value.trim()) {
                title.style.borderBottomColor = 'red';
                title.focus();
                e.preventDefault();
                return false;
            }

            content.style.borderBottomColor = 'blue';
            if (!content.value.trim()) {
                content.style.borderBottomColor = 'red';
                content.focus();
                e.preventDefault();
                return false;
            }
        });
    }
{{end}}
{{define "content"}}
  <div class="wrap">
        <form action="/new" method="POST" id="new-form" autocomplete="off">
            {{ .csrfField }}
            <input type="hidden" name="username" value="{{.User.Username}}">
            <input type="hidden" name="userPic" value="{{.User.Picture}}">
            <input type="hidden" name="author" value="{{.User.Name}}">
            <input type="hidden" name="publish" value="1">
            <div style="margin-bottom: 20px">
                <input
                    type="text"
                    name="title"
                    placeholder="Title"
                    class="new-form-title"
                >
            </div>
            <div style="margin-bottom: 20px">
                <textarea placeholder="Use markdown to format your content" name="content" rows="20" class="new-form"></textarea>
            </div>
            <div class="new-form-footer">
                <div class="form-cover left">
                    <input style="background-color:rgba(1,1,1,0);padding-left:0;padding-right:0" name="cover" type="text" placeholder="Enter a cover image (optional)">
                    <br>
                    <br>
                </div>
                <div class="form-button right">
                    <button type="submit" class="button success">
                        <span style="position:relative;top:1px;margin-right:6px">✓</span>
                        Publish Now
                    </button>
                </div>
            </div>
        </form>
</div>
{{end}}
