{{define "style"}}
.social {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 32px;
    box-sizing: border-box;
    text-align: right;
    font-size: 2em;
}
.main-content {
    width: 840px;
    box-sizing: border-box;
    float: left;
    position: relative;
    background-color: white;
    border: 1px solid #CCCCCC;
    margin-bottom: 2em;
}
.main-content h1 {
    font-size: 2em;
}
.right-pane {
    float: right;
    width: 180px;
    box-sizing: border-box;
    padding: 0 24px 24px;
}
.right-pane p {
    margin-bottom: 1em !important;
}
.right-pane ul {
    list-style: none;
    margin-left: 0 !important;
}
.right-pane ul li {
    padding: 16px 0 !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid rgba(0,0,255,0.07);
}
.sub {
    opacity: 0.6;
}
#likey {
    color: #a99191;
    background-color: transparent;
    cursor: pointer;
}
#likey.active {
    color: red;
}
svg path {
    fill: #AAA;
}
{{end}}
{{define "script"}}
    {{if .User}}
        const csrfToken = document.getElementsByName("gorilla.csrf.Token")[0].value;
        document.querySelector('#likey').addEventListener('click', (e) => {
            e.preventDefault();
			const likey = e.target;

			let count = parseInt(document.querySelector('.lc').innerText, 10);
			if (likey.className === 'active') {
				document.querySelector('.lc').innerText = count - 1;
				likey.className = '';
			} else {
				document.querySelector('.lc').innerText = count + 1;
				likey.className = 'active';
			}

            (async () => {
                const id = '{{.Post.ID}}';
                resp = await axios({
					url: `/like/${id}`,
					method: 'put',
					data: {},
                    headers: {
                        'X-CSRF-Token': csrfToken,
                    }
                })
            })();
        });
    {{end}}
{{end}}
{{define "content"}}
    <div class="container">
        <article class="article">
            <h1 class="main-title">{{.Post.Title}}</h1>
            <p>
                <small>
                    <a href="/{{.Post.Username}}" style="border:0">
                        <img width="32px" src="{{.Post.UserPic}}" alt="avatar" style="border-radius:100px;position:relative;top:10px">
                        &nbsp;&nbsp;<strong>{{.Post.Author}}</strong>
                    </a>
                </small>
                <small>&nbsp; posted on {{date "Jan 02" .Post.Created}}</small>
                <small class="div">|</small>
                <small>&nbsp; {{ .Post.ReadingTime }} min read</small>
                <small class="div">|</small>
                <small>
                    <span style="font-size:1.5em;position:relative;top:3px;margin:0 4px 0 0;">♥</span>
                    <span class="lc">{{.Post.LikesCount}}</span>
                </small>
                <small class="div">|</small>
                <small>
                    <span style="font-size:1.5em;position:relative;top:3px;margin:0 4px 0 0;">💬</span>
                    <span class="lc">0</span>
                </small>
                {{if .User}}
                    {{if eq .User.Username .Post.Username}}
                    <small class="div">|</small>
                    <small>
                        <a href="/edit/{{.Post.ID}}">Edit Post</a>
                    </small>
                    {{end}}
                {{end}}
            </p>
            <div class="main-content">
                {{if ne .Post.Cover "" }}
                    <div style="line-height:0;border-bottom:1px solid #AAAAAA">
                        <img src="{{.Post.Cover}}" width="100%"alt="cover">
                    </div>
                {{end}}
                <div style="padding:64px">
                    <div class="social">
                    {{if .User}}
                        <button id="likey" class="{{if .Liker}}active{{end}}" style="font-size:64px;border:0">♥</button>
                    {{else}}
                        <a href="/login" style="color: #a99191;font-size:64px;border:0">♥</a>
                    {{end}}
                    </div>
                    {{.Post.Content | md}}
                </div>
            </div>
            <div class="right-pane">
                <p>
                    <strong>SHARE POST ¬</strong>
                </p>
                <hr>
                <ul>
                    <li>
                        <a style="border:0;color:#666666"
                            target="_blank"
                            onclick="window.open('https://twitter.com/intent/tweet?url=' + window.location.href + '&text={{.Post.Title}}', '{{.Post.Title}}', 'resizable,scrollbers,width=600,height=400,top=10')"
                            href="#"
                        >
                            {{template "svg-twitter"}}
                            <span style="top:-4px;left:6px;position:relative">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a style="border:0;color:#666666"
                            target="_blank"
                            onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.href + '', '{{.Post.Title}}', 'resizable,scrollbers,width=600,height=400,top=10')"
                            href="#"
                        >
                            {{template "svg-facebook"}}
                            <span style="top:-4px;left:6px;position:relative">Facebook</span>
                        </a>
                    </li>
                </ul>
            </div>
        </article>
        {{ .csrfField }}
    </div>
{{end}}
