{{define "style"}}
.social {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 32px;
    box-sizing: border-box;
    text-align: right;
    font-size: 2em;
}
.main-content {
    position: relative;
    width: 784px;
    box-sizing: border-box;
    float: left;
    padding: 64px;
    background-color: white;
    margin-bottom: 2em;
}
.main-content h1 {
    font-size: 2em;
}
.right-pane {
    float: right;
    width: 256px;
    box-sizing: border-box;
    padding: 0 24px 24px;
}
.right-pane p {
    margin-bottom: 1em !important;
}
.right-pane ul {
    list-style: none;
    margin-left: 0 !important;
}
.right-pane ul li {
    padding: 16px 0 !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid rgba(0,0,255,0.07);
}
pre {
    overflow: scroll;
    background-color: rgba(1,1,1,0.01);
}
pre code {
    font-size: 16px;
    line-height: 1.5em;
    color: darkbrown;
}
.sub {
    opacity: 0.6;
}
{{end}}
{{define "script"}}
{{end}}
{{define "content"}}
    <div class="container">
        <article class="article">
            <h1 class="main-title">{{.Post.Title}}</h1>
            <p>
                <small>
                    <a href="/{{.Post.Username}}" style="border:0">
                        <img width="32px" src="{{.Post.UserPic}}" alt="avatar" style="border-radius:100px;position:relative;top:10px">
                        &nbsp;&nbsp;@{{.Post.Username}}
                    </a>
                </small>
                <small class="div">|</small>
                <small><span style="font-size:1.5em;position:relative;top:3px;margin:0 4px 0 0;">♥</span> 42</small>
                <small class="div">|</small>
                <small>Posted {{date "Jan 02" .Post.Created}}</small>
            </p>
            <div class="main-content">
                <div class="social">
                    <a href="#" style="font-size:64px;color:#a99191;border:0">♥</a>
                </div>
                {{.Post.Content | md}}
            </div>
            <div class="right-pane" style="">
                <h3>More from {{.Post.Username}}</h3>
                <p class="sub" style="padding:24px;border:1px solid #aaa;text-align:center">SOON</p>
                <br>
                <h3>Relative posts</h3>
                <p class="sub" style="padding:24px;border:1px solid #aaa;text-align:center">SOON</p>
            </div>
        </article>
    </div>
{{end}}
