{{define "style"}}
{{end}}
{{define "script"}}
    const form = document.querySelector('form#profile-form');
    form && form.addEventListener('submit', (e) => {
        const nm = e.target.name;
        const name = nm.value.trim();
        const wm = e.target.website;
        const website = wm.value.trim();

        nm.style.borderColor = 'blue'; // reset color
        if (!name) {
            nm.style.borderColor = 'red';
            nm.focus();
            e.preventDefault();
            return false;
        }

        wm.style.borderColor = 'blue'; // reset color
        if (website && !website.match(/^https?:\/\/.+\..{2,}$/)) {
            wm.style.borderColor = 'red';
            wm.focus();
            e.preventDefault();
            return false;
        }
    });
{{end}}
{{define "content"}}
    <div class="container">
        <div class="profile">
            <div style="margin-right:24px;">
                <p>
                    <img width="100%" src="{{.User.Picture}}" alt="pic">
                </p>
                <p>
                    <button class="button full" disabled>Upload Picture</button>
                </p>
            </div>
        </div>
        <div class="content" style="background-color: #FFFFFF;padding: 24px">
            <form id="profile-form" action="/profile" method="post">
                {{ .csrfField }}
                <p>
                    <label for="name" style="font-weight:bold;display:inline-block;margin-bottom:12px">Name</label>
                    <input type="text" plceholder="Enter your name" name="name" value="{{.User.Name}}" />
                </p>
                <br>
                <p>
                    <label for="profile" style="font-weight:bold;display:inline-block;margin-bottom:12px">Bio</label>
                    <textarea placeholder="Make it as bitchin' as possible" name="profile"/>{{.User.Bio}}</textarea>
                </p>
                <br>
                <p>
                    <label for="locale" style="font-weight:bold;display:inline-block;margin-bottom:12px">Location</label>
                    <input type="text" placeholder="i.e: 127.0.0.1" name="locale" value="{{.User.Location}}" />
                </p>
                <br>
                <p>
                    <label for="website" style="font-weight:bold;display:inline-block;margin-bottom:12px">Website</label>
                    <input type="text" placeholder="https://about.me" name="website" value="{{.User.Website}}" />
                </p>
                <br>
                <p>
                    <button type="submit" class="button primary"><span>Update Profile</span></button>
                </p>
            </form>
        </div>
    </div>
{{end}}
