{{define "style"}}
    .cl {
        fill: white;
    }
    svg.ic {
        position: relative;
        top: 5px;
        margin-right: 8px;
    }
{{end}}
{{define "content"}}
    <div class="center-flex-box">
        <div class="kahon card center">
            <p>
              {{template "svg-github"}}
            </p>
            <h2>Sign up via Github</h2>
            <p class="ub">
                For now we only allow signup via Github. If you don't have an account
                yet, you'll be asked to create one.
            </p>
            <p style="margin: 2em auto 1em;">
                <a href="{{.GithubURL}}" class="button success">
                    {{template "svg-connect"}}
                    <span>Connect Now</span>
                </a>
            </p>
        </div>
    </div>
{{end}}
{{define "script"}}
{{end}}
