{{define "style"}}
    .avatar {
        position: absolute;
        top: -90px;
        left: 235px;
        margin-left: -50px;
        color: #666;
    }
    .avatar img {
        border: 1px solid #fff;
        margin-bottom: 12px;
    }

{{end}}
{{define "script"}}
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        const rx = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        const pwd = e.target.password;
        const email = e.target.email;
        const pwdVal = pwd.value.trim();
        const emailVal = email.value.trim();

        // check for email
        email.style.borderColor = 'blue'; // reset color
        if(!emailVal.match(rx)) {
            email.style.borderColor = 'red';
            email.focus();
            e.preventDefault();
            return
        }

        // check for password
        pwd.style.borderColor = 'blue'; // reset color
        if (!pwdVal.match(/[0-9]/g) || !pwdVal.match(/[a-zA-Z]/g)) {
            pwd.style.borderColor = 'red';
            pwd.focus();
            e.preventDefault();
        }
    });
{{end}}
{{define "content"}}
    <div class="center-flex-box">
        <div class="kahon card center">
            <div class="avatar">
                <img style="border-radius: 100px" src="{{.GithubUser.AvatarURL}}" alt="avatar" height="128" width="128">
                <p>
                    <strong><a href="https://github.com/{{.GithubUser.Login}}" target="_blank">@{{.GithubUser.Login}}</a></strong>
                    <br>
                </p>
            </div>
            <p><br><br></p>
            <h3>Let's finish up</h3>
            <p>
                <form id="signup-form" action="/signup" method="post">
                    {{ .csrfField }}
                    <p>
                        {{if .GithubUser.Email}}
                            <input type="text" name="emailx" value="{{.GithubUser.Email}}" disabled />
                            <input type="hidden" name="email" value="{{.GithubUser.Email}}"/>
                        {{else}}
                            <input type="text" name="email" placeholder="Input your email"/>
                        {{end}}
                    </p>
                    <p>
                        <input type="hidden" name="nickname" value="{{.GithubUser.Login}}"/>
                        <input type="hidden" name="picture" value="{{.GithubUser.AvatarURL}}"/>
                        <input type="hidden" name="locale" value="{{.GithubUser.Location}}"/>
                        <input type="hidden" name="website" value="{{.GithubUser.Website}}"/>
                    </p>
                    <p>
                        <input type="hidden" name="login" value="{{.GithubUser.Login}}"/>
                    </p>
                    <p>
                        <input type="password" name="password" placeholder="Choose a password" />
                    </p>
                    <br>
                    <p style="margin-bottom: 2em">
                        <button type="submit" class="button primary full"><span>Create Account</span></button>
                    </p>
                </form>
            </p>
        </div>
    </div>
{{end}}
