{{define "style"}}
    /* slack */
    .slack {
        position: fixed;
        width: 320px;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        right: 10px;
        bottom: -160px;
        transition: bottom .3s;
        transition-delay: 5s;
        padding: 24px;
        border: 1px solid #aaaaaa;
        background-color: #723a7b;
        box-shadow: -3px -3px 10px 1px rgba(0,0,0,0.1);
    }
    .slack:hover {
        transition: bottom .3s;
        bottom: 10px;
    }
    .slack p {
        margin-bottom: 0;
        color: white;
    }

    .title {
        letter-spacing: 1px;
        width: 543px;
        height: 182px;
        opacity: 0.91;
        margin: 0 auto 1em;
        text-indent: -1000000px;
        background: url(/images/bishack.svg) center center /contain no-repeat;
    }

    .jira {
        position: relative;
        text-decoration: line-through;
        color: #888888;
    }
    .jira:after {
        text-decoration: none;
        color: black;
        top: -32px;
        left: -1px;
        width: 150px;
        transform: rotate(-4deg);
        display: inline-block;
        content: attr(data);
        background-color: yellow;
        padding: 0 10px;
        position: absolute;
    }
    .sign-icon {
        position: relative;
        top: 5px;
        margin-right: 12px;
    }
    .sign-icon path {
        fill: #FFFFFF;
    }
    .post {
        background-color: #ffffff;
        margin-bottom: 2em;
        border: 1px solid #aaa;
        border-bottom: 2px solid #aaa;
        border-right: 2px solid #aaa;
        box-sizing: border-box;
        padding: 24px;
    }
    .post a.post-title {
        color: #333333 !important;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 1.2em;
    }
    .post a.post-title:hover {
        border-bottom: 1px solid #EEE !important;
    }
    .x path {
        fill: rgba(1,1,1,0.2);
    }
{{end}}
{{define "script"}}
{{end}}
{{define "content"}}
    <div class="container">
        <div class="profile">
            {{template "user-card.tmpl" .Author}}
        </div>
        <div class="content">
            {{template "posts" .Posts}}
        </div>
    </div>
{{end}}
