{{define "style"}}
{{end}}
{{define "script"}}
{{end}}
{{define "content"}}
    <div class="center-flex-box">
        <div class="kahon card center">
            <h1 class="title">Congrats!</h1>
            <p>
                You may now <a href="/login">log in</a> to your account.
                Or <a href="/">click here</a> to go back to the main page.
            </p>
        </div>
    </div>
{{end}}
