{{define "style"}}
    .soon {
        width: 600px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        text-align: center;
    }

    .sub {
        opacity: 0.3;
        font-size: 1em;
    }

    .div {
        opacity: 0.3;
        font-size: 1em;
        padding: 0 16px;
    }

    .title {
        letter-spacing: 1px;
        width: 543px;
        height: 182px;
        opacity: 0.91;
        text-indent: -1000000px;
        background: url(/images/bishack.png) center center no-repeat / cover;
    }

    .box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .batman {
        position: relative;
        text-decoration: line-through;
        color: #888888;
    }
    .batman:after {
        text-decoration: none;
        color: black;
        top: -29px;
        left: -1px;
        display: inline-block;
        content: "hipster/hacker";
        position: absolute;
    }

    .circle {
        border-radius: 100px;
    }

    .div {
        padding: 0 12px;
    }

{{end}}
{{define "script"}}
{{end}}
{{define "content"}}
    <div class="box">
        <div class="soon">
            <div class="center">
                <h1 class="title">bishack.dev</h1>
                <br />
                <p>Ka pundokan sa mga bangiitang <span class="batman">&nbsp;batman&nbsp;</span> sa <a href="https://en.wikipedia.org/wiki/Visayas">ka bisayaan</a>.</p>
                <br />
                {{if .User}}
                    <img class="circle" src="{{.User.picture}}" alt="{{.User.nickname}}" width="100" height="100" />
                    <br>
                    <br>
                    <p>
                        <a href="/dashboard">Dashboard</a>
                        <span class="div">|</span>
                        <a href="/profile">@{{.User.nickname}}</a>
                        <span class="div">|</span>
                        <a href="/logout">Log Out</a>
                    </p>
                {{else}}
                    <p><a href="/signup">Sign Up</a> <span class="div">|</span> <a href="/login">Log In</a></p>
                {{end}}
            </div>
        </div>
    </div>
{{end}}
