{{define "style"}}
    p {
        margin-bottom: 1em;
    }

    .signup {
        border-radius: 5px;
        background-color: #fff;
        width: 460px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 24px;
    }

    .sub {
        opacity: 0.5;
        font-size: 1em;
    }

    .title {
        letter-spacing: 1px;
        opacity: 0.91;
    }

    input::placeholder {
        color: blue;
        opacity: 0.5;
    }

    .box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .avatar {
        position: absolute;
        top: -116px;
        left: 212px;
        margin-left: -50px;
        color: #666;
    }
    .avatar img {
        border: 1px solid #fff;
        box-shadow: 0 5px 20px 1px rgba(1,1,1,0.2);
    }

    input {
        padding: 16px;
        font-size: 16px;
        background: #efefef;
        width: 268px;
        color: blue;
        border-bottom: 2px solid #ccc;
    }
    input:hover:not(:disabled) {
        border-color: blue;
    }

    input:disabled {
        opacity: 0.7;
        background-color: #ccc;
        color: #666;
    }

    input:focus {
        border-color: blue;
    }
{{end}}
{{define "script"}}
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        const pwd = e.target.password;
        const val = pwd.value.trim();

        // check for password
        pwd.style.borderColor = 'blue'; // reset color
        if (!val.match(/[0-9]/g) || !val.match(/[a-zA-Z]/g)) {
            pwd.style.borderColor = 'red';
            pwd.focus();
            e.preventDefault();
        }
    });
{{end}}
{{define "content"}}
    <div class="box">
        <div class="signup">
            <div class="center">
                <div class="avatar">
                    <img style="border-radius: 100px" src="{{.GithubUser.AvatarURL}}" alt="avatar" height="128" width="128">
                    <p>
                        <strong><a href="https://github.com/{{.GithubUser.Login}}" target="_blank">@{{.GithubUser.Login}}</a></strong>
                        <br>
                    </p>
                </div>
                <br>
                <br>
                <h4>{{.GithubUser.Name}}</h4>
                <br>
                <br>
                <form id="signup-form" action="/signup" method="post">
                    {{ .csrfField }}
                    <p>
                        <input type="text" name="emailx" value="{{.GithubUser.Email}}" disabled />
                    </p>
                    <p>
                        <input type="hidden" name="email" value="{{.GithubUser.Email}}"/>
                    </p>
                    <p>
                        <input type="hidden" name="login" value="{{.GithubUser.Login}}"/>
                    </p>
                    <p>
                        <input type="password" name="password" placeholder="Choose a password" />
                    </p>
                    <br>
                    <p>
                        <button type="submit" class="button primary"><span>SUBMIT</span></button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{{end}}
