{{define "style"}}
    p {
        margin-bottom: 1em;
    }

    .signup {
        border-radius: 5px;
        background-color: #fff;
        width: 460px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 24px;
    }

    .sub {
        opacity: 0.5;
        font-size: 1em;
    }

    .title {
        letter-spacing: 1px;
        opacity: 0.91;
    }

    .box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        text-decoration: none;
        opacity: 1 !important;
        padding: 16px 20px;
        background-color: blue;
        border-radius: 5px;
        letter-spacing: 1px;
        width:300px;
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
        border-bottom: solid 5px darkblue;
        color: #ffffff;
        cursor: pointer;
    }
    .button:hover {
        background-color: #3131ff;
    }

    .avatar {
        position: absolute;
        top: -140px;
        left: 236px;
        margin-left: -50px;
        color: #666;
    }
    .avatar img {
        border: 1px solid #fff;
        box-shadow: 0 5px 20px 1px rgba(1,1,1,0.2);
    }

    input {
        padding: 16px;
        font-size: 16px;
        background: #efefef;
        width: 268px;
        color: blue;
        border-bottom: 2px solid #ccc;
    }
    input:hover:not(:disabled) {
        border-color: #aaa;
    }

    input:disabled {
        opacity: 0.7;
        background-color: #ccc;
        color: #666;
    }

    input:focus {
        border-color: blue;
    }
{{end}}

{{define "content"}}
    <div class="box">
        <div class="signup">
            <div class="center">
                <div class="avatar">
                    <img style="border-radius: 100px" src="{{.GithubUser.AvatarURL}}" alt="avatar" height="100" width="100">
                    <p>
                        <strong><a href="https://github.com/{{.GithubUser.Login}}" target="_blank">@{{.GithubUser.Login}}</a></strong>
                        <br>
                        <small>{{.GithubUser.Name}}</small>
                    </p>
                </div>
                <br>
                <br>
                <h4>SIGN UP</h4>
                <br>
                <br>
                <form id="signup-form" action="/signup" method="post">
                    <p>
                        <input type="text" name="emailx" value="{{.GithubUser.Email}}" disabled />
                    </p>
                    <p>
                        <input type="hidden" name="email" value="{{.GithubUser.Email}}"/>
                    </p>
                    <p>
                        <input type="hidden" name="login" value="{{.GithubUser.Login}}"/>
                    </p>
                    <p>
                        <input type="password" name="password" placeholder="Choose a password" />
                    </p>
                    <br>
                    <button type="submit" class="button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
{{end}}
