{{define "style"}}
    .sub {
        opacity: 0.5;
        font-size: 1em;
    }

    .title {
        letter-spacing: 1px;
        opacity: 0.91;
    }

    .box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .verified {
        width: 400px;
        height: 300px;
        padding: 24px;
        border-radius: 5px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        text-align: center;
    }
{{end}}
{{define "script"}}
{{end}}
{{define "content"}}
    <div class="box">
        <div class="verified">
            <div class="center">
                <h1 class="title">Congrats!</h1>
                <p>
                    You may now <a href="/login">log in</a> to your account.
                    Or <a href="/">click here</a> to go back to the main page.
                </p>
            </div>
        </div>
    </div>
{{end}}
