{{define "style"}}
    p {
        margin-bottom: 1em;
    }

    .verify {
        border-radius: 5px;
        background-color: #fff;
        width: 468px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 32px;
    }

    .title {
        letter-spacing: 1px;
        opacity: 0.91;
    }

    .box {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
{{end}}
{{define "script"}}
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        const code = e.target.code;
        const val = code.value.trim();

        // check for password
        code.style.borderColor = 'blue'; // reset color
        if (!val.match(/.{5,}/) || val.match(/[a-zA-Z]/g)) {
            code.style.borderColor = 'red';
            code.focus();
            e.preventDefault();
        }
    });
{{end}}
{{define "content"}}
    <div class="box">
        <div class="verify">
            <div class="center">
                <h4>Verify Account</h4>
                <br>
                <p>Check your email for code verification</p>
                <br>
                <form id="verify-form" action="" method="get">
                    {{ .csrfField }}
                    <input type="hidden" name="email" value="{{.Email}}"/>
                    <p>
                        <input type="text" name="code" placeholder="Enter verification code" />
                    </p>
                    <br>
                    <button type="submit" class="button primary full">VERIFY</button>
                </form>
            </div>
        </div>
    </div>
{{end}}
