{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>bisdak.dev - {{.Title}}</title>
    <meta property="og:title" content="Bishack" />
    <meta property="og:description" content="Bisdak Dev Community" />
    <meta property="og:image" content="/images/bishack.png" />
    <link rel="icon" type="image/jpg" href="/images/bishack.jpg" />
    <style>
    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: 0;
    }

    html, body {
        height: 100%;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        background-color: #efefef;
        font-size: 18px;
    }

    h1, h2, h3, h4, p {
        line-height: 2em;
        color: #333;
    }

    input {
        padding: 16px;
        font-size: 16px;
        background: #efefef;
        width: 100%;
        box-sizing: border-box;
        color: blue;
        border-bottom: 2px solid #ccc;
    }
    input:hover:not(:disabled) {
        border-color: blue;
    }
    input:disabled {
        opacity: 0.7;
        background-color: #ccc;
        color: #666;
    }
    input:focus {
        border-color: blue;
    }
    input::placeholder {
        color: #777;
        opacity: 0.5;
    }

    a:not(.button), a:not(.button):visited, a:not(.button):active {
        text-decoration: none;
        color: blue;
        padding-bottom: 2px;
    }

    a:not(.button):hover {
        border-bottom: 1px solid #3131ff;
        color: #3131ff;
    }

    .button {
        text-decoration: none;
        opacity: 1 !important;
        border-radius: 5px;
        letter-spacing: 1px;
        padding: 6px 24px;
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
        color: #666;
        background-color: #aaa;
        border-bottom: solid 5px #888;
        cursor: pointer;
        position: relative;
    }
    button.button {
        padding: 14px 20px;
    }
    .button.full {
        width: 100%;
        box-sizing: border-box;
    }
    .button:active {
        border-bottom-width: 0 !important;
        border-top: 5px solid #888;
    }
    .button:hover {
        background-color: #bbbbbb;
    }

    .primary, .primary:active {
        color: #ffffff !important;
        border-color: darkblue;
        background-color: blue;
    }
    .primary:hover {
        background-color: #3131ff;
    }

    .success, .success:active {
        color: #ffffff !important;
        border-color: darkgreen;
        background-color: green;
    }
    .success:hover {
        background-color: #00a200;
    }

    .button:disabled {
        background-color: #cccccc;
        border-color: #aaaaaa;
        color: #aaaaaa;
        cursor: default;
    }

    /* FLASH */
    .flash {
        position: fixed;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        max-width: 400px;
        padding: 12px 20px;
        letter-spacing: 0.2px;
        background-color: #ffffff;
        box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    }
    .flash.error {
        background-color: #ff3333;
        color: white;
        box-shadow: 0px 5px 10px 1px rgb(255, 136, 136);
    }
    .flash.success {
        background-color: #00bb00;
        color: white;
        box-shadow: 0px 5px 10px 1px rgba(0, 128, 0, 0.36);
    }


    .div {
        padding: 0 12px;
        opacity: 0.5;
    }

    .slack {
        position: fixed;
        width: 320px;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        right: 10px;
        bottom: 10px;
        padding: 24px;
        border: 1px solid #aaaaaa;
        background-color: #fff;
        box-shadow: -3px -3px 10px 1px rgba(0,0,0,0.1);
    }

    .right {
        float: right;
    }

    .join {
        position: relative;
        display: inline-block;
        top: -10px;
        left: 6px;
    }

    {{template "style" .}}
    </style>
</head>

<body>
    {{if .Flash}}
    <div class="flash {{.Flash.Type}}">
        {{.Flash.Value}}
    </div>
    {{end}}
    {{template "content" .}}
</body>

<script>
    window.onload = () => {
        if (document.readyState === 'complete') {
            {{template "script" .}}
        }
    };
</script>
</html>
{{end}}
