{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>bisdak.dev - {{.Title}}</title>
    <meta property="og:title" content="Bishack" />
    <meta property="og:description" content="Bisdak Dev Community" />
    <meta property="og:image" content="/images/bishack.png" />
    <link rel="icon" type="image/jpg" href="/images/bishack.jpg" />
    <style>
    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: 0;
    }

    html, body {
        height: 100%;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        background-color: #efefef;
        font-size: 18px;
    }

    h1, h2, h3, h4, p {
        line-height: 2em;
        color: #333;
    }

    input {
        padding: 16px;
        font-size: 16px;
        background: #efefef;
        width: 100%;
        box-sizing: border-box;
        color: blue;
        border-bottom: 2px solid #ccc;
    }
    input:hover:not(:disabled) {
        border-color: blue;
    }
    input:disabled {
        opacity: 0.7;
        background-color: #ccc;
        color: #666;
    }
    input:focus {
        border-color: blue;
    }
    input::placeholder {
        color: #777;
        opacity: 0.5;
    }

    a:not(.button), a:not(.button):visited, a:not(.button):active {
        text-decoration: none;
        color: blue;
        padding-bottom: 2px;
    }

    a:not(.button):hover {
        border-bottom: 1px solid #3131ff;
        color: #3131ff;
    }

    .button {
        text-decoration: none;
        opacity: 1 !important;
        border-radius: 5px;
        letter-spacing: 1px;
        padding: 6px 24px;
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
        color: #666;
        background-color: #aaa;
        border-bottom: solid 5px #888;
        cursor: pointer;
        position: relative;
    }
    button.button {
        padding: 14px 20px;
    }
    .button.full {
        width: 100%;
        box-sizing: border-box;
    }
    .button:active {
        border-bottom-width: 0 !important;
        border-top: 5px solid #888;
    }
    .button:hover {
        background-color: #bbbbbb;
    }

    .primary, .primary:active {
        color: #ffffff !important;
        border-color: darkblue;
        background-color: blue;
    }
    .primary:hover {
        background-color: #3131ff;
    }

    .success, .success:active {
        color: #ffffff !important;
        border-color: darkgreen;
        background-color: green;
    }
    .success:hover {
        background-color: #00a200;
    }

    .button:disabled {
        background-color: #cccccc;
        border-color: #aaaaaa;
        color: #aaaaaa;
        cursor: default;
    }

    /* FLASH */
    .flash {
        position: fixed;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        max-width: 400px;
        padding: 12px 20px;
        letter-spacing: 0.2px;
        background-color: #ffffff;
        box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    }
    .flash.error {
        background-color: #ff3333;
        color: white;
        box-shadow: 0px 5px 10px 1px rgb(255, 136, 136);
    }
    .flash.success {
        background-color: #00bb00;
        color: white;
        box-shadow: 0px 5px 10px 1px rgba(0, 128, 0, 0.36);
    }


    .div {
        padding: 0 12px;
        opacity: 0.5;
    }

    .slack {
        position: fixed;
        width: 320px;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        right: 10px;
        bottom: 10px;
        padding: 24px;
        border: 1px solid #aaaaaa;
        background-color: #fff;
        box-shadow: -3px -3px 10px 1px rgba(0,0,0,0.1);
    }

    .right {
        float: right;
    }

    .join {
        position: relative;
        display: inline-block;
        top: -10px;
        left: 6px;
    }

    {{template "style" .}}
    </style>
</head>

<body>
    {{if .Flash}}
    <div class="flash {{.Flash.Type}}">
        {{.Flash.Value}}
    </div>
    {{end}}
    {{template "content" .}}
    <div class="slack">
        <p style="text-align:center;">
            <svg width="32" height="32" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;" xml:space="preserve">
            <path style="fill:#FFC107;" d="M332.034,31.529c-7.776-23.936-33.504-37.056-57.472-29.28s-37.056,33.504-29.28,57.472
                l117.92,362.848c8.096,22.368,32.256,34.944,55.488,28.288c24.192-6.976,38.976-32.672,31.232-56.448
                C449.634,393.481,332.034,31.529,332.034,31.529z"/>
            <path style="fill:#4CAF50;" d="M149.314,90.921c-7.808-23.968-33.536-37.088-57.472-29.28s-37.088,33.504-29.28,57.472
                l117.92,362.816c8.096,22.368,32.256,34.944,55.488,28.288c24.192-6.976,38.976-32.672,31.232-56.448
                C266.914,452.873,149.314,90.921,149.314,90.921z"/>
            <path style="fill:#EC407A;" d="M480.482,332.041c23.968-7.776,37.056-33.504,29.28-57.472s-33.504-37.056-57.472-29.28
                L89.442,363.241c-22.368,8.096-34.944,32.256-28.288,55.488c6.976,24.192,32.672,38.976,56.448,31.232
                C118.53,449.641,480.482,332.041,480.482,332.041z"/>
            <path style="fill:#472A49;" d="M165.058,434.537c23.616-7.68,54.048-17.568,86.72-28.192c-7.68-23.616-17.568-54.048-28.192-86.72
                l-86.72,28.192L165.058,434.537z"/>
            <path style="fill:#CC2027;" d="M347.81,375.145c32.8-10.656,63.264-20.544,86.72-28.192c-7.68-23.616-17.568-54.08-28.192-86.752
                l-86.72,28.192L347.81,375.145z"/>
            <path style="fill:#2196F3;" d="M421.09,149.321c23.968-7.776,37.056-33.504,29.28-57.472s-33.504-37.056-57.472-29.28
                L30.082,180.489c-22.4,8.096-34.976,32.256-28.288,55.488c6.976,24.192,32.672,38.944,56.448,31.232
                C59.138,266.921,421.09,149.321,421.09,149.321z"/>
            <path style="fill:#1A937D;" d="M105.666,251.785c23.616-7.68,54.08-17.568,86.752-28.192c-10.656-32.768-20.544-63.232-28.192-86.72
                l-86.72,28.192L105.666,251.785z"/>
            <path style="fill:#65863A;" d="M288.418,192.425c32.8-10.656,63.264-20.544,86.752-28.192c-10.656-32.8-20.576-63.264-28.192-86.752
                l-86.752,28.192L288.418,192.425z"/>
            </svg>

            <span class="join">Join us on slack</span>
        </p>
        <br/>
        <form id="slack-form" action="#">
            <p><input name="email" type="text" placeholder="Enter your email for invites"/></p>
            <br/>
            <p><button type="submit" class="full right success button">Send Invite</button></p>
        </form>
    </div>
</body>

<script>
    window.onload = () => {
        if (document.readyState === 'complete') {
            {{template "script" .}}

            const form = document.querySelector('form');
            form.addEventListener('submit', (e) => {
                e.preventDefault();

                const email = e.target.email;
                const val = email.value.trim();

                // reset and disabled load
                email.style.borderColor = 'blue';

                const pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!val.match(pattern)) {
                    email.style.borderColor = 'red';
                    email.focus();
                    return;
                }

                email.style.borderColor = '#aaa';
                email.setAttribute('disabled', true);
                form.querySelector('button').setAttribute('disabled', true);

                (async () => {
                    const resp = await fetch(`/slack-invite?email=${val}`);
                    const type = resp.headers.get('content-type');

                    if (resp.status == 200 && type.match(/json/i)) {
                        const content = await resp.json();
                        if (content.ok) {
                            document.querySelector('.join').innerText = 'Invitation Sent!';
                        }
                    }

                    email.style.borderColor = 'blue';
                    email.value = '';
                    email.removeAttribute('disabled');
                    form.querySelector('button').removeAttribute('disabled')
                })()
            });
        }
    }
</script>
</html>
{{end}}
